@using WebApplication11.Models
@model PostHiddenViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h1>@Model.Foo</h1>  
</div>
</body>
</html>