<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <form method="post" action="/postdemo/hiddentest">
        <input type="hidden" name="foo" value="hello"/>
        <button>Submit</button>
    </form>
</div>
</body>
</html>